.map__page {
  display: flex;
  padding: 0.3rem;
  width: 100%;
  height: 100%;

  &__characters {
    @include flex-direction-justify(column, space-between);
    padding: 5% 0;
    width: 20%;
    height: 100%;
  }

  &__character {
    margin: 5% 0;
    height: 100%;
  }
}

.buttons__and__map {
  width: 100%;
  height: 100%;
  padding-left: 0%;

  &__buttons {
    display: flex;

    &__switch {
      display: flex;
      width: 50%;
    }
  }

  &__main {
    margin-top: 1%;
    width: 100%;
    height: 90%;
    background: url(../img/map__castle1.png) center/contain no-repeat;
    //border: 5px solid rgb(54, 38, 33);
  }
}

.div_center {
  height: 100%;
  @include flex-center
}